
.jumbotron{
  width: 100%;
  height:300px;
  background-image: url("https://aaronpodesta4.files.wordpress.com/2014/09/banner-ad-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#pButton{
	height:60px;
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-position: center;
  margin: auto;
}
.play{background: url('../images/icons/music-yellow.png') no-repeat;}
.pause{background: url('../images/icons/pause.png') no-repeat;}


.bg-color{
  background-color: #343a40;
}
h1{
  color: white;

}
button{
  color: white;
}
button:hover{
  color: yellow !important;
}
button:active{
  color:yellow!important;
}
button:focus{
  color:white!important;
}
.col-md-6{
  display: inline-grid;
  height: 700px;

}
.left{
  border: dotted 5px;
  color:gray;
  height: 700px;
  text-align: center;
}
.right{
  position:relative;
  display: inline-grid;
  height: inherit;
  border: dotted 5px;
  color:gray;
  height: 700px;
}
span{
  font-size: 20px;
}
#message{
  color: green;
  font-size: 30px;
}
#count{
  color: red;
  font-size: 30px;
}
#Guessed{
  color: yellow;
}
#blank{
  color:green;
  text-align: center;
}
.middle{
  text-align: center;
  margin: auto;
  font-size: 25px;
}
#top{
  background-image: url("../images/hang0.png");
  height:350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* footer */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 15rem;
  min-height: 100%;
  background-color: black;
  color: white;
}

.page-wrap {
  margin: 0 auto;
}

/**
 * Footer Styles
 */
.site-footer{
  background-color: gray;
  right: 0;
  bottom: 0;
  left:0;
  padding: 1rem;
  background: solid;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: black;
 }


 /* icon */
 .iconlink{
   width:170px;
   margin: 20px auto;
 }
 .smallbox{
   width: 50px;
   height: 50px;
   margin: 0 2px;
   float: left;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
 }
 .box1{
   background-image: url("../images/icons/github.png");
 }
 .box2{
   background-image: url("../images/icons/linkicon.png");
 }
 .box3{
   background-image: url("../images/icons/stackicon.png");
 }
 .box1:hover{
   background-image: url("../images/icons/githubicon.png");
 }
 .box2:hover{
   background-image: url("../images/icons/link-icon.jpg");
 }
 .box3:hover{
   background-image: url("../images/icons/stack.png");
 }
